/**
* font imports
*
* @format
*/

:root {
    /* base */
    color-scheme: light;
    --bgColor: #fff;
    --onBg: #000;
    
    /* fonts */
    font-size: 16px;
    font-family: 'Zodiak', serif;
    
    /* sizing */
    --scaling: 1.5;
    --xs: calc(1rem * var(--scaling));
    --sm: calc(var(--xs) * var(--scaling));
    --md: calc(var(--sm) * var(--scaling));
    --lg: calc(var(--md) * var(--scaling));
    --xl: calc(var(--lg) * var(--scaling));

    /* colors */

    /* Surface */
    --surfaceHue: 220;
    --surfaceSaturation: 100%;
    --surfaceLightness: 60%;
    --surfaceOpacity: 0.55;

    --surfaceColorOpaque: hsl(
        var(--surfaceHue),
        var(--surfaceSaturation),
        var(--surfaceLightness)
    );

    --surfaceColor: hsla(
        var(--surfaceHue),
        var(--surfaceSaturation),
        var(--surfaceLightness),
        var(--surfaceOpacity)
    );

    --onSurfaceColor: hsl(var(--surfaceHue), var(--surfaceSaturation), 5%);

    /* Accent */
    --accentHue: calc(var(--surfaceHue) - 180);
    --accentSaturation: 100%;
    --accentLightness: 60%;
    --accentOpacity: 0.55;

    --onAccentColor: hsl(var(--accentHue), var(--accentSaturation), 5%);

    --accentColorOpaque: hsl(
        var(--accentHue),
        var(--accentSaturation),
        var(--accentLightness)
    );
    --accentColor: hsla(
        var(--accentHue),
        var(--accentSaturation),
        var(--accentLightness),
        var(--accentOpacity)
    );
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bgColor: #000;
        --onBg: #eee;
        /* Surface */
        --surfaceSaturation: 100%;
        --surfaceLightness: 10%;
        --surfaceOpacity: 0.5;

        --onSurfaceColor: hsl(var(--surfaceHue), var(--surfaceSaturation), 80%);

        /* Accent */
        --accentSaturation: 100%;
        --accentLightness: 10%;
        --accentOpacity: 0.5;
        --onAccentColor: hsl(var(--accentHue), var(--accentSaturation), 80%);
    }
}

/* resets */

body {
    background-color: var(--bgColor);
    color: var(--onBg);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background 0.3s color 0.3s;
}

body,
div,
header,
main,
section,
footer {
    display: grid;
}

header,
section,
footer {
    padding: var(--md);
}

footer{
  background-color: var(--accentColor);
  color: var(--onAccentColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comico', cursive;

    margin: 0;
    padding: 0;
    inset: 0;
    top: 0;
    bottom: 0;
  }
  
  h1{
    font-size: var(--xl);
    
  }
  h2{
    font-size: var(--lg);
    
  }
  h3{
    font-size: var(--md);
    
  }
  h4{
    
    font-size: var(--sm);
  }
  h5{
    
    font-size: var(--xs);
  }
  h6{
    
    font-size: 1rem;
  }

a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--accentColorOpaque);
}

a:hover {
    border-bottom: 1px solid var(--accentColorOpaque);
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--md);
    background-color: var(--accentColor);
    color: var(--onAccentColor);
}

header h1 {
  font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
  font-size: 1.5rem;
    padding: var(--xs);
    color: var(--onAccentColor) !important;
}
nav a:hover {
    padding: var(--xs);
    color: var(--onAccentColor);
    border-color: var(--onAccentColor);
}

main{
  padding: 0;
}

/* Sections */
section {
    padding: var(--xs);
    gap: var(--xs);
}

/* hero */

#hero {
    grid-template-columns: 1fr;
    grid-template-areas:
        "picture"
        "headline";
    background-color: var(--surfaceColor);
    color: var(--onSurfaceColor);
    padding: var(--md);
}


#hero > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  grid-area: headline;
}

#hero > div:nth-child(2) {
  grid-area: picture;
}

#hero h2 {
  font-size: var(--lg);
  text-align: center;
}
#hero h3 {
  font-size: var(--md);
}
@media (min-width: 60rem) {
  #hero {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "picture headline";
    align-items: center;
  }
}

.giantEmoji {
  font-size: 15rem;
  text-align: center;
  transform-origin: center;
  rotate: -20deg;
}

/* Repos */
#repos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "first"
  "second"
  "third"
  ;
  gap: var(--md);
  padding: var(--md);
}

@media (min-width: 60rem) {
  #repos {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "first first"
    "second third";
  }
}

#repos h2 {
  display: block;
  grid-area: first;
  text-align: center;
}

#repos #mowglixx {
  grid-area: second;
  gap: var(--md);
  text-align: center;
  
}

#repos #purplebearddan {
  grid-area: third;
  gap: var(--md);
  text-align: center;
}

.repoCardWrapper{
  text-align: left;
}

.repoCardHeader{
  font-size: var(--xs);
}
.repoCardDescription{
  font-size: 1rem;
}

footer{
  grid-template-columns: 1fr;
}

footer .socialLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--xs);
  text-align: right;
}
footer a:not(:hover) {
  color: var(--onAccentColor)
}
footer a:hover {
  color: var(--surfaceColorOpaque);
  border: none;
}


.surface {
  border-radius: var(--xs);
  padding: var(--md);
  color: var(--onSurface);
  background-color: var(--surfaceColor);
  box-shadow: 5px 5px 5px hsl(0deg, 0%, 5%, 0.25);
}

.surface :is(span, a:not(:hover), p, h1, h2, h3, h4, h5, h6) {
  color: var(--onSurfaceColor);
}

/* utilities */
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: column;
  flex-direction: row;
}